version: '3.8'
services:
  n8n:
    build: .
    image: my-custom-n8n
    restart: always
    environment:
      - NODE_ENV=production
      - NODE_FUNCTION_ALLOW_EXTERNAL=*
    ports:
      - "5678:5678"
    volumes:
      - ~/.n8n:/home/node/.n8n
